*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
}

.navbar{
  z-index: 2;
  position: relative;
}

.navbar img{
  margin: 20px 30px;
}

.enroll-head{
  position: absolute;
  left: 83%;
  top: 24%;
  padding: 12px 25px;
  border-radius: 50px;
  border: 2px solid wheat;
  background: rgb(235, 47, 56);
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out
}

.enroll-head:hover{
  background: #F0414A;
  border: 0px solid #F0414A;
  color: white;
  border: 2px solid wheat;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
  margin: 0;
  padding: 0;
}

.container-header{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

.fullscreen-video-wrap video{
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.header-overlay{
  height: 115.5vh;
  position: absolute;
  top:0;
  left:0;
  width: 98.75vw;
  z-index:1;
  background: rgba(142, 140, 216, .92);
  opacity:0.8;
}

.header-content{
  z-index:2;
  margin: -210px auto 0 auto;
  font-family: 'Roboto', sans-serif;
}

.header-content h1{
  font-size: 118px;
  margin-bottom:0px;
  font-weight: bold;
  color: #e8e8e8;
}

.header-content p{
  font-size: 1.5rem;
  color: #fff;
  display:block;
  padding-bottom:2rem;
  margin-top: 30px;
}

.ideas{
  padding: 100px 250px 130px 250px;
  text-align: center;
}

.ideas h1, .hiring h1{
  font-size: 60px;
  font-weight: bold;
}

.ideas p{
  margin-top: 60px;
  font-size: 24px;
}

.enroll{
  margin-top: 50px;
  font-size: 23px;
  padding: 15px 60px;
  border-radius: 50px;
  border: solid #F0414A;
  background: #fff;
  transition: 0.3s ease-in-out
}

.enroll:hover{
  background: #F0414A;
  color: white;
  box-shadow: 0px 2px 7px  #F0414A;
  transition: 0.3s ease-in-out
}

.features .card{
  border: none;
  margin: 70px;
  text-align: center
}

.features .card:hover{
  box-shadow: 0px 2px 10px  #4C40EC;
}

.features img{
  padding: 50px 30px;
  margin-right: 50px;
  margin-bottom: 20px
}

.features h1{
  font-size: 40px;
  font-weight: bold;
}

.card-body{
  margin-bottom: 30px;
}

.features .card-text{
  font-size: 18px;
  margin-top: 20px;
}

.features .features-1 .card{
  margin-top: 40px;
  border: none;
}

.hiring{
  padding: 100px 250px 130px 250px;
  text-align: center
}

.hiring p{
  padding: 0 61px;
  font-size: 24.4px;
  margin-top: 40px;
}

footer{
  padding: 70px 0 15px 0;
}

footer img{
  float: left;
}

footer h5{
  margin: 0 0 25px 20px
}

footer .links{
  margin-top: 20px;
  margin-left: 350px;
  color: #555;
}

footer a{
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
}

.contact{
  color: #555;
  float: left;
  margin-top: 20px;
  margin-left: -160px;
}

.contact p{
  margin-left: 20px;
  font-weight: 600;
}

.copyright{
  text-align: center;
  margin-top: 80px;
  font-weight: 600;
}

.signUp{
  text-align: center;
  background-image: url("images/intern.jpg");
}

.tdcForm{
  margin-top: 50px;
}


/*Media Queries */
/* 
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .navbar img{
    margin: 20px 30px;
    width: 100px;
    height: 100px;
  }

  .enroll-head{
    position: absolute;
    left: 79%;
    top: 24%;
    padding: 15px 25px;
    border-radius: 50px;
    border: 2px solid wheat;
    background: rgb(235, 47, 56);
    font-weight: 600;
    color: white;
  }

  .header-overlay{
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    z-index:1;
    background: rgba(142, 140, 216, .92);
    opacity:0.8;
  }

  .header-content{
    z-index:2;
    margin: -210px auto 0 auto;
    font-family: 'Roboto', sans-serif;
  }
  
  .header-content h1{
    font-size: 100px;
    margin-bottom: 19px;
    color: #e8e8e8
  }
  
  .header-content p{
    font-size: 1.4rem;
  }

  .fullscreen-video-wrap{
    display: none;
  }

  .ideas{
    padding: 60px 100px 100px 100px;
    text-align: center;
  }

  .ideas h1, .hiring h1{
    font-size: 50px;
    font-weight: bold;
  }

  .features .card{
    border: none;
    margin: 20px;
    text-align: center
  }

  .features .card:hover{
    box-shadow: 0px 0px 0px;
  }
  
  .features h1{
    font-size: 32px;
    margin-top: -30px;
    font-weight: bold;
  }

  .features .card-text{
    font-size: 18px;
    margin-top: 29px;
    text-align: center
  }

  .features .features-1 .card{
    margin-top: 20px;
    border: none;
  }

  .hiring{
    padding: 60px;
    text-align: center
  }
  
  .hiring p{
    font-size: 23px;
    margin-top: 40px;
  }
  
  footer h5{
    margin: 0 0 25px 20px
  }
  
  footer .links{
    margin-top: 20px;
    margin-left: 150px;
    color: #555;
  }
  
  footer a{
    padding: 10px;
    margin: 7px;
    font-size: 23px;
    cursor: pointer;
  }
  
  .contact{
    color: #555;
    float: left;
    margin-top: 20px;
    margin-left: -150px;
  }
  
  .contact p{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
  }

}

/* 
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
 
  body{
    overflow-x: hidden;
    opacity: 10px !important
  }

  .navbar{
    padding: 0;
    margin: 0;
    width: 106%;
  }
  
  .navbar img{
    margin: 20px 10px;
    width: 110px;
    height: 110px;
  }

  nav a{
    font-size: 15px;
  }
  
  .enroll-head{
    position: absolute;
    left: 73%;
    top: 24%;
    padding: 10px 12px;
    border-radius: 50px;
    border: 2px solid wheat;
    background: rgb(235, 47, 56);
    font-weight: 600;
    color: white;
    margin: 0;
  }

  .fullscreen-video-wrap{
    display: none;
  }

  .header-overlay{
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    width: 106vw;
    z-index: 1;
    background: rgba(142, 140, 216, .92);
    opacity:0.8;
  }

  .header-content{
    z-index:2;
    margin: -270px auto 0 auto;
    font-family: 'Roboto', sans-serif;
  }

  .header-content h1{
    font-size: 55px;
    margin-bottom: 19px;
    margin-left: 13px;
    color: #e8e8e8
  }

  .header-content p {
    font-size: 15px;
    margin-left: 13px;
  }

  .ideas{
    padding: 5px 10px 10px 10px;
    text-align: center;
    margin-left: 20px;;
  }

  .ideas p{
    margin-top: 40px;
    font-size: 18px;
  }
  
  .ideas h1, .hiring h1{
    font-size: 35px;
    font-weight: bold;
  }

  .enroll{
    margin-top: 25px;
    padding: 10px 25px;
  }

  .features{
    margin-left: 25px;
  }

  .features .card:hover{
    box-shadow: 0 0 0;
  }

  .features h1{
    font-size: 35px;
    font-weight: bold;
  }

  .features .card{
    border: none;
    margin: 0px;
    text-align: center
  }

  .hiring{
    padding: 60px 5px 5px 5px;
    text-align: center;
    margin-left: 22px;
    margin-top: 50px;
  }

  .hiring p{
    padding: 0 11px;
    font-size: 18px;
    margin-top: 40px;
  }

  footer{
    padding: 70px 0 15px 0;
    margin-top: 150px;
  }
  
  footer img{
    float: none;
    clear: both;
    margin-left: 150px;
  }
  
  footer h5{
    text-align: center;
    margin-top: 50px;
  }
  
  footer .links{
    margin: 0;
    color: #555;
    text-align: center
  }
  
  footer a{
    padding: 5px;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
  }

  .move{
    margin-left: 20px;
  }
  
  .contact{
    color: #555;
    float: none;
    margin: 0;
    text-align: center
  }
  
  .contact p{
    margin-left: 20px;
    font-weight: 600;
  }

  .copyright{
    text-align: center;
    margin-top: 80px;
    margin-left: 20px;
    font-weight: 600;
  }

  .signUp{
    text-align: center;
    background-image: url("images/intern.jpg");
    width: 100vh;
    height: 200vh;
  }
  
  .tdcForm{
    margin-top: 30px;
  }
}
